#tabbed .button.blue {
	background: #555;
	color: #fff;
}
#tabbed .button.blue:hover {
	background: #333;
	color: #fff;
}
#tabbed .button.black:hover {
	background: #777;
}
#tabbed .title.large {
	color: #333;
}
#tabbed a {
	color: #333;
}